* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;

}

img {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/montserrat/Montserrat-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/raleway/static/Raleway-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

:root {
  --bg-color: #393131;
  --bg-header: #322b2b;
  --bg-buttons: #464646;
  --bg-cards: #5e585c;
  --color-text-buttons: #fff;
  --color-text: #ffffff;
  --fs-title: 1.875rem;
  --fs-text-1: 1.25rem; /* 20px */
  --fs-text-2: 1rem;
  --fs-text-buttons: 1.25rem;
}

body {
  background: var(--bg-color);
}

header {
  background-color: var(--bg-header);
}

section {
  margin: 30px 0;
  padding: 80px 0;
}

section:nth-child(odd) {
  background-color: #464646;
}

.title {
  color: var(--color-text);
  font-size: var(--fs-title);
  font-family: 'Montserrat';
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 58px;
}

.title::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 3px;
  background: var(--color-text);
}

.contateme {
  color: var(--color-text-buttons);
  width: 200px;
  padding: 10px 0;
  background: var(--bg-buttons);
  text-align: center;
  font-size: var(--fs-text-buttons);
  font-family: 'Segoe UI';
  margin-top: 40px;
  display: block;
}

#container-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 0;
  margin: 0 28px;
}

#container-menu #menu-logo {
  color: var(--color-text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--fs-text-1);
  font-weight: bold;
  transition: color 0.1s;
}

#container-menu #menu-hamburguer {
  width: 54px;
  height: 35px;
  align-self: flex-end;
  position: relative;
  bottom: 27px;
  background-color: #707070;
  border: none;
  cursor: pointer;
}

#container-menu #menu-hamburguer .fa-bars:before {
  color: var(--bg-header);
}

#container-menu #menu-logo {
  align-self: flex-start;
}

#container-menu .menu-hamburguer-item {
  display: none;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#container-menu .menu-hamburguer-item li {
  margin-bottom: 34px;
}

#container-menu .menu-hamburguer-item .menu-link {
  color: var(--color-text);
  font-family: 'Montserrat';
  font-size: var(--fs-text-1);
  text-transform: uppercase;
  transition: color 0.1s;
}

#container-menu .menu-hamburguer-item .menu-link:hover,
#container-menu #menu-logo:hover,
footer a:hover,
.title-card a:hover, #contato a:hover {
  color: #707070;
}

#container-menu .menu-hamburguer-item.ativo {
  display: flex;
  visibility: visible;
}

@media (min-width: 1000px) {
  #container-menu {
    flex-direction: row;
    justify-content: space-between;
    padding: 27px 0;
    align-items: baseline;
  }

  #container-menu #menu-logo {
    align-self: baseline;
  }

  #container-menu #menu-hamburguer {
    display: none;
  }

  #container-menu .menu-hamburguer-item {
    display: flex;
    visibility: visible;
    flex-direction: row;
  }

  #container-menu .menu-hamburguer-item li {
    margin-bottom: 0;
  }

  #container-menu .menu-hamburguer-item li + li {
    margin-left: 36px;
  }
}

#container-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-sobre img {
  width: 214px;
  height: 214px;
  margin: 0 92px 23px 92px;
  border-radius: 50%;
  flex: 0 0 calc(100% - 184px);
}

#container-sobre p {
  color: var(--color-text);
  font-size: var(--fs-text-1);
  font-family: 'Raleway';
  text-align: center;
  margin: 0 30px;
  flex: 0 0 calc(100% - 60px);
}

@media (min-width: 800px) {
  #container-sobre img {
    width: 282px;
    height: 282px;
    margin: 0 0 23px 0;
    flex: 0 0 282px;
  }

  #container-sobre p {
    width: 577px;
    margin: 0 0px;
    flex: 0 0 100%;
  }
}

#habilidades-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 130px));
  justify-content: center;
  gap: 30px;
}

#habilidades-lista .item-lista img {
  width: 108px;
  height: 108px;
}

#container-habilidades .contateme {
  margin-left: auto;
  margin-right: auto;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
  margin: 0 20px;
  gap: 10px;
}

.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-cards);
  padding: 40px 30px;
}

.container-card + .container-card {
  margin-top: 20px;
}

.title-card a {
  display: block;
  color: var(--color-text);
  font-family: 'Montserrat';
  margin: 25px 0;
  background: var(--bg-color);
  padding: 10px 5px;
  transition: 0.1s color;
}

.container-card .container-infos {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.container-card .container-infos li {
  margin: 0 10px;
  flex: 0 0 calc(33.3333333% - 20px);
}

.container-card .container-infos strong {
  color: var(--color-text);
  font-family: 'Montserrat';
  background: var(--bg-color);
  padding: 10px 5px;
}

@media (min-width: 629px) {
  .container-card + .container-card {
    margin-top: 0;
  }

  #container {
    gap: 10px;
  }
}

#container-contato{
  text-align: center;
}

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contato li{
  margin-left: 24px;
  margin-right: 24px;
  flex: 0 0 calc(100% - 48px);
}

#contato a{
  font-size: var(--fs-text-2);
  color: var(--color-text);
  font-family: 'Raleway';
  transition: .1s color;
}

#contato li + li{
 margin-top: 19px;
}

footer {
  background: var(--bg-header);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 0;
  height: 81px;
}

footer a {
  text-align: center;
  color: var(--color-text);
  font-family: 'Montserrat';
  font-size: var(--fs-text-1);
  transition: color 0.1s;
}

.slideToUp {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: relative;
  left: 10%;
  background-color: #707070;
  border: none;
}

.slideToUp::before {
  content: '\2B71';
  font-size: 30px;
}

@media (min-width: 700px) {
  .slideToUp {
    left: 30%;
  }
}
